CVS/
*~
*.bak
*.la
*.lo
*.loT
*.o
*.so
*.tar.*
*.gmo
*.old
*.pot
*.swp
gtk-doc.make
libtool
ltmain.sh
missing
stamp-h1
py-compile
tags

_CPack_Packages/
CMakeFiles/
Testing/
CMakeCache.txt
cmake_*install.cmake
CPack*Config.cmake
CTestTestfile.cmake
install_manifest.txt

bin/
BUILD/
doc/
SOURCES/
SPECS/RPM-ChangeLog
SRPMS/
RPMS/
*NO_PACK*
*.spec
ChangeLog
Doxyfile
Makefile
src/config.h

*.exe
MakerDialog*.pc
