*.swp
*.la
*.lo
*.loT
*.o
*.so
*~
*.gmo
*.xml
*.old
*.pot
tags
Makefile
ABOUT-NLS
gtk-doc.make
install_manifest.txt
libtool
ltmain.sh
missing
stamp-h1
py-compile
*.tar.*
*.spec
CMakeCache.txt
cmake_*install.cmake
CPack*Config.cmake
ChangeLog
DEVELOPER_SETTING*
BUILD/
CMakeFiles/
CVS/
RPMS/
SPECS/RPM-ChangeLog
SRPMS/
_CPack_Packages/
bin/
po/CMakeFiles/
SOURCES/
doc/
Doxyfile
src/gtk/maker-dialog*
src/config.h

